@font-face {
  font-family: montserrat;
  src: url("fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: glacial-indifference;
  src: url("fonts/GlacialIndifference-Regular.otf");
}
@font-face {
  font-family: bebasneue;
  src: url("fonts/BebasNeue-Regular.ttf");
}
body{
  background-color: #020202;
  color: #ececec;
  font-family: bebasneue;
  text-align: center;
}
header{
  background-color: 	#313131;
  border-bottom: 1px solid rgba(238, 238, 238, 0.5);
  text-align: center;
  clear: both;
  padding-bottom: 2%;
}
header span{
  font-size: 2rem;
  text-align: center;
  padding: 3%;
}
header .borquezmusicbig{
  width:25%;
  transition: 0.5s;
  padding: 2% 0;
}
@media screen and (max-width:760px) {
  header .borquezmusicbig{
    width:50%;
  }
}
header .borquezmusicsmall{
  width:5%;
  padding-top: 2%;
  transition: 0.5s;
}
.bigmargin{
  margin-top: 110%;
  transition: 0.5s;
}
.smallmargin{
  margin-top: 35%;
  transition: 0.5s;
}
.d-flex {
  border:2px solid #000;
}
.d-flex img {
  width:70%;
  margin: 5% 10%;
  flex: auto;
  cursor:pointer;
  border:2px solid #000;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 70%;
}
.d-flex img:hover,.d-flex img:focus{
  transform: scale(1.05);
  filter: grayscale(0%);
  transition: 0.5s;
  opacity: 95%;
}
.modal{
  color: #020202;
}
.modal-body img{
  width: 100%;
  border-radius: 5%;
}
@media screen and (min-width:992px) {
  .bigmargin{
    margin-top: 40%;
    transition: 0.5s;
  }
  .smallmargin{
    margin-top: 35%;
    transition: 0.5s;
  }
  .d-flex img{
    width: 30%;
    margin: 1%;
  }
}
/* div h1{
  font-family: glacial-indifference;
  text-transform: uppercase;
}
div p{
  font-family: bebasneue;
} */
